.mainnav li {
    margin: 5px;
}

.nav-search {
    width: 45%;
}

.nav-search input {
    border-radius: 1.25rem;
}

.nav-search input::placeholder {
    color: var(--bs-gray-300);
}

#fixedHeader {
    transition: all .7s ease;
}

.makefixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.dropdown-toggle::after{
    display: none;
}

.account-dropdown {
    left: auto!important;
    right: 0 !important;
}

/* category offcanvas  */

.nav-offcanvas {
    width: 75vw!important;
  }
  
  .offcanvas-close {
    position: absolute;
    top: 2%;
    right: -28%;
    height: 3rem;
    width: 3rem;
    padding: .8rem;
  }
  
  .navoffcanvasbtn:focus {
    box-shadow: none!important;
  }
  
  .subCat {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(220%);
    transition: all .3s ease;
  }
  
  .subCatShow {
    transform: none;
  }
  
  .mainCat {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: transform .3s ease;
  }
  
  .mainCatShow {
    transform: none;
  }
  


/* ============================================================================
small screen  
============================================================================== */

@media (min-width: 576px) {
    .top-header {
        width: 100%;
    }
    .nav-search {
        width: 55%;
    }
}

/* ===========================================================================
medium screen  
=============================================================================*/

@media (min-width: 768px) {
    .top-header {
        width: 75%;
    }
    .nav-search {
        width: 30%;
    }
}

/* =========================================================================
lg screen 
============================================================================ */

@media (min-width: 992px) {}

/* =========================================================================
x-lg screen 
.row-cols-lg-9>* {
    flex: 0 0 auto;
    width: 20%;
}
============================================================================ */

@media (min-width: 1200px) {
    .mainnav li {
        margin: 5px;
    }
    .nav-search {
        width: 45%;
    }
    .nav-search input {
        border-radius: 1.25rem;
    }
    .nav-search input::placeholder {
        color: var(--bs-gray-300);
    }
    #fixedHeader {
        transition: all .7s ease;
    }
    .makefixed {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}