

/* ============================================================================
small screen  
============================================================================== */
@media (min-width: 576px) {
    .askq-inp{
        width: 54%;
    }
    .askq-btn {
        width: 46%;
    }
    
}

/* ===========================================================================
medium screen  
=============================================================================*/
@media (min-width: 768px) {   
    .cdetail-h6 {
        width: 35%;
    }
    .cdetail-btn {
        width: 35%;
    }
    .askq-inp{
        width: 54%;
    }
    .askq-btn {
        width: 46%;
    }
}


/* =========================================================================
lg screen 
============================================================================ */
@media (min-width: 992px) {
    .cdetail-h6 {
        width: 25%;
    }
    .cdetail-btn {
        width: 25%;
    }
    .askq-inp{
        width: 75%;
    }
    .askq-btn {
        width: 25%;
    }
}

/* =========================================================================
  x-lg screen 
============================================================================ */
@media (min-width: 1200px) {

}